<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
    <header>
        <!-- place navbar here -->
    </header>
    <main>
        <div class="container my-5">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>Event</th>
                        <th>Example</th>
                    </tr>
                    <!-- click -->
                    <tr>
                        <td>Click</td>
                        <td>
                            <code>
                            addEventListener('click', function() {
                                alert('You clicked me');
                            });
                        </code>
                        </td>
                    </tr>
                    <!-- mouseover -->
                    <tr>
                        <td>Mouseover</td>
                        <td>
                            <code>
                            addEventListener('mouseover', function() {
                                alert('You hovered over me');
                            });
                        </code>
                        </td>
                    </tr>
                    <!-- mouseout -->
                    <tr>
                        <td>Mouseout</td>
                        <td>
                            <code>
                            addEventListener('mouseout', function() {
                                alert('You hovered out of me');
                            });
                        </code>
                        </td>
                    </tr>
                    <!-- keydown -->
                    <tr>
                        <td>Keydown</td>
                        <td>
                            <code>
                            addEventListener('keydown', function() {
                                alert('You pressed a key');
                            });
                        </code>
                        </td>
                    </tr>
                    <!-- keyup -->
                    <tr>
                        <td>Keyup</td>
                        <td>
                            <code>
                            addEventListener('keyup', function() {
                                alert('You released a key');
                            });
                        </code>
                        </td>
                    </tr>
                    <!-- load -->
                    <tr>
                        <td>Load</td>
                        <td>
                            <code>
                            addEventListener('load', function() {
                                alert('The page has loaded');
                            });
                        </code>
                        </td>
                    </tr>
                    <!-- focus -->
                    <tr>
                        <td>Focus</td>
                        <td>
                            <code>
                            addEventListener('focus', function() {
                                alert('You focused on me');
                            });
                        </code>
                        </td>
                    </tr>
                    <!-- blur -->
                    <tr>
                        <td>Blur</td>
                        <td>
                            <code>
                            addEventListener('blur', function() {
                                alert('You blurred out of me');
                            });
                        </code>
                        </td>
                    </tr>
                    <!-- submit -->
                    <tr>
                        <td>Submit</td>
                        <td>
                            <code>
                            addEventListener('submit', function() {
                                alert('You submitted the form');
                            });
                        </code>
                        </td>
                    </tr>
                    <!-- change -->
                    <tr>
                        <td>Change</td>
                        <td>
                            <code>
                            addEventListener('change', function() {
                                alert('You changed the input');
                            });
                        </code>
                        </td>
                    </tr>
                    <!-- resize -->
                    <tr>
                        <td>Resize</td>
                        <td>
                            <code>
                            addEventListener('resize', function() {
                                alert('You resized the window');
                            });
                        </code>
                        </td>
                    </tr>
                    <!-- scroll -->
                    <tr>
                        <td>Scroll</td>
                        <td>
                            <code>
                            addEventListener('scroll', function() {
                                alert('You scrolled the page');
                            });
                        </code>
                        </td>
                    </tr>
                    <!-- contextmenu -->
                    <tr>
                        <td>Contextmenu</td>
                        <td>
                            <code>
                            addEventListener('contextmenu', function() {
                                alert('You right-clicked');
                            });
                        </code>
                        </td>
                    </tr>
                    <!-- dblclick -->
                    <tr>
                        <td>Dblclick</td>
                        <td>
                            <code>
                            addEventListener('dblclick', function() {
                                alert('You double-clicked');
                            });
                        </code>
                        </td>
                    </tr>
                    <!-- mousedown -->
                    <tr>
                        <td>Mousedown</td>
                        <td>
                            <code>
                            addEventListener('mousedown', function() {
                                alert('You pressed the mouse button');
                            });
                        </code>
                        </td>
                    </tr>
                    <!-- mouseup -->
                    <tr>
                        <td>Mouseup</td>
                        <td>
                            <code>
                            addEventListener('mouseup', function() {
                                alert('You released the mouse button');
                            });
                        </code>
                        </td>
                    </tr>
                    <!-- mousemove -->
                    <tr>
                        <td>Mousemove</td>
                        <td>
                            <code>
                            addEventListener('mousemove', function() {
                                alert('You moved the mouse');
                            });
                        </code>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>