<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tags in html</title>
    <style>
        html {
            color-scheme: light dark;
        }

        body {
            font-family: sans-serif;
            font-size: 1.3rem;
            line-height: 1.5;
            width: 75ch;
            margin: 5rem auto;
        }
    </style>
</head>

<body>
    <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi debitis distinctio ea omnis at tenetur in
        consequatur ab! Voluptatibus beatae at provident error enim vitae ullam mollitia placeat aperiam eveniet.</div>
    <header>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, ex quas esse eum dicta magni? Vel odio
        magni natus ex eaque voluptatem alias. Cum nam similique odit, quidem non maxime?</header>
    <footer>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente culpa aspernatur iure eius ducimus
        aliquam
        provident veniam beatae nobis quisquam dolor ad accusantium, sequi quod libero necessitatibus laboriosam
        nesciunt blanditiis.</footer>
    <nav>
        <ul>
            <li>Lorem.</li>
            <li>Optio!</li>
            <li>Ex?</li>
            <li>Neque?</li>
            <li>Incidunt.</li>
        </ul>
    </nav>
    <section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptate dolore iure cupiditate facilis
        blanditiis laudantium nesciunt! Quisquam harum, beatae porro quidem quia incidunt minus, magnam esse tempore
        voluptas debitis!</section>
    <section>Ab modi magni possimus, fugit corporis iure facere tenetur quibusdam! Provident ut dolorem deserunt. Iste
        quos, sequi tenetur cumque molestias repellendus nam, quibusdam architecto exercitationem voluptatibus ipsam
        atque. Quae, perferendis!</section>
    <section>Dolores, minus molestias reiciendis voluptatum enim nobis temporibus sequi aliquam consequuntur ab numquam
        perferendis quod earum officiis fuga ad corporis non alias! Maiores aut praesentium dicta quas sint qui quam.
    </section>
    <!-- formatting tags -->
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p><strong>Lorem ipsum dolor</strong> <em>sit amet consectetur</em> adipisicing elit. <u>Non, dolorem possimus</u>.
        Quibusdam debitis asperiores
        rerum! Quam sed veniam repellendus aliquam culpa commodi, quas unde impedit, natus, iure pariatur tempora
        dolorum?
    </p>
    <div>
        <details>
            <summary>Alt+Shift+F</summary>
            <p>Formatting the html code</p>
        </details>
        <details>
            <summary>Ctrl + Shift + p</summary>
            <p>Show settings/preferences</p>
        </details>
        <details>
            <summary>Alt + Shift + ⬇️</summary>
            <p>Duplicate the line, based on where the cursor is</p>
        </details>
        <details>
            <summary>Windows + dot (.)</summary>
            <p>For adding emojis to the content</p>
        </details>
        <details>
            <summary>Emmet abbriations</summary>
            <p>Learn from the official website</p>
        </details>
        <details>
            <summary>Ctrl + B</summary>
            <p>Open/close side panel in vscode</p>
        </details>
        <details>
            <summary>Ctrl + J</summary>
            <p>Open/close bottom panel in vscode </p>
        </details>
    </div>
    <div>
        <table border="1" width="50%">
            <thead>
                <tr>
                    <th colspan="4">Purchased Items</th>
                </tr>
                <tr>
                    <th>Sno</th>
                    <th>Name</th>
                    <th>Qty</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Flour</td>
                    <td>5</td>
                    <td>160</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Socks</td>
                    <td>2</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Salt</td>
                    <td>3</td>
                    <td>90</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total</td>
                    <th>290</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <blockquote>
        "This is Sparta" - King Leonidas
    </blockquote>
    <pre>
        Lorem ipsum dolor 
            sit amet consectetur adipisicing elit. 
        Quam, pariatur voluptatibus aut corrupti 
            atque, nam recusandae, optio maxime 
        vero sed quidem necessitatibus distinctio 
            laboriosam accusantium incidunt! Autem, 
        soluta fuga. Impedit.
    </pre>
    <pre>
    <code>
        def hello():
            print("hello world")
    </code>
    </pre>
</body>

</html>